* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0A764F;
}

.header {
  position: relative;
  background-color: rgb(3, 52, 45);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.container-title {
  width: 80%;
}

.container {
  background-color:  white;
}
.title {
  color: rgb(221, 221, 221);
  font-size: 30px;
  padding-left: 30px;
}

.container-cartTitle {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgb(10, 118, 79);
  width: 40%;
  height: 100%;
  margin-left: 30px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(-45deg);
  z-index: 0;
}

.container-cartTitle:before {
  content: '';
  position: absolute;
  top: 30px;
  right: 61.5%;
  width: 39.5%;
  height: 15px;
  background: rgb(10, 118, 79);
  transform: skew(45deg);
  z-index: 0;
}

.container-cartTitle .cart__title {
  color: white;
  font-size: 20px;
  padding-left: 35px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border: 2px solid #0A764F;
  border-radius: 5px;
  box-sizing: border-box;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-family: 'Tapestry', cursive;}
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #0A764F;
  font-weight: 900;
}

.cart {
  display: flex;
  flex-basis: 32%;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  height: 100vh;
}

.cart .cart__items {
  height: 500px;
  overflow-y: scroll;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 0 auto;
  background-color: #0A764F;
  color: white;
  font-weight: 900;
}

.loading {
  width: 55px;
  height: 50px;
  color: darkgray;
  font-size: 50pt;
  position: fixed;
}

.cart__item div {
  margin-left: 100px;
  margin-top: -80px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px lightslategray;
  font-size: 18px;
  font-family: 'Tapestry', cursive;
}

.cart__item img {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  mix-blend-mode: multiply;
}

.total-price {
  font-size: 20px;
  font-family: 'Tapestry', cursive;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.price-container {
  list-style-type: none;
}

.item__add:hover, .empty-cart:hover {
  background-color: #03343D;
}

.item__title:hover, .item__image:hover {
  background-color:  #ccffcc;
}